/*---------------------------------------------------------------------------------------------------------------*/

/*Responsive*/

@media screen and (max-width: 1125px) {

	/*menu responsive*/
	#logo-responsive {
		display: inline;
		width: 100px;
		margin-right: 25px;
	}

	#aside {
		display: none;
		animation: moveAside 500ms;
		-webkit-animation: moveAside 500ms;
		animation-fill-mode: forwards;
	}

	#aside ul {
		width: 350px;
		list-style-type: none;
		font-size: 2em;
		height: 75px;
		padding-left: 0px;
	}

	#aside ul li {
		height: 75px;
		margin-bottom: 10px;
	}

	@keyframes moveAside {
		0% {
			transform: translateX(-400px);
		}

		100% {
			transform: translateX(0px);
		}
	}

	/*header*/
	header {
		width: 90%;
		margin: auto;
		display: flex;
		align-items: center;
	}

	header h1 {
		font-size: 3em;
	}

	header img {
		width: 100px;
		margin-right: 25px;
	}

	/*annulation anim titre*/
	#d {
		left: -130px;
		animation: title_big 0ms;
		-webkit-animation: title_big 0ms;
		animation-fill-mode: forwards;
		animation-delay: 0ms;
	}

	.small {
		font-size: 0.7em;
		color: #ea7128;
		opacity: 0;
		animation: title_small 0ms;
		-webkit-animation: title_small 0ms;
		animation-fill-mode: forwards;
	}

	#emploi {
		animation-delay: 0ms;
	}

	#competences {
		animation-delay: 0ms;
	}

	/*slider */
	.text {
		height: 100px;
		width: 100%;
	}

	h5 {
		font-size: 2em;
		color: #fff;
		margin-top: 5px;
	}

	/*contenu*/
	/*---home*/
	#icons-home {
		width: 95%;
		margin: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.icon {
		text-align: center;
		width: 100%;
		font-size: 2em;
	}

	/*---autres pages*/
	.content-txt {
		width: 100%;
	}

	.content-img {
		display: none;
	}

}
